fastapi
uvicorn
python-dotenv
langchain
langchain-core
langchain-community
langchain-experimental
langchain-groq
langchain-neo4j
langchain-classic
neo4j
python-multipart
pydantic
SpeechRecognition
pytz
pandas
requests
pymongo
tavily-python
together
openai
boto3
pinecone-client
langchain-pinecone
langchain-huggingface
sentence-transformers