fastapi
uvicorn
python-dotenv
langchain
langchain-core
langchain-community
langchain-experimental
langchain-groq
langchain-neo4j
langchain-classic
jinja2>=3.1
neo4j
python-multipart
pydantic
SpeechRecognition
pytz
pandas
openpyxl
requests
pymongo
tavily-python
together
openai
boto3
pinecone-client
langchain-pinecone